.chartContainer {
  margin-top: 40px;
  max-width: 800px;
  width: 100%;

  @media (max-width: 500px) {
    margin: 24px;
    width: calc(100% - 48px);
  }
}

.title {
  margin-top: 40px;
  max-width: 800px;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  width: 100%;
  display: flex;

  @media (max-width: 500px) {
    font-size: 24px;
    margin: 24px;
    width: auto;
  }
}

.name {
  text-transform: capitalize;
  color: #61dafb;
  margin-left: 7px;
}

.timeDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerInput {
  width: 100%;
  max-width: 300px;
}

.timeForm {
  margin-top: 24px;
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;

  @media (max-width: 500px) {
    margin: 24px;
    width: calc(100% - 48px);
  }
}

.button {
  margin-top: 15px;
}
