.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nanum Gothic', sans-serif;
  box-sizing: border-box;
  min-height: 100%;
}

.trackingContainer {
  width: auto;
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  @media (max-width: 500px) {
    margin: 20px 15px;
    gap: 10px;
  }
}

.refresh {
  position: absolute;
  top: 60px;
  cursor: pointer;
  right: 17px;
}

.refreshIcon {
  width: 40px;
  :global {
    path {
      fill: #02AAB0;
    }
  }
}

.todayTotal {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #61dafb;
  font-weight: 900;
  font-size: 40px;
  height: 150px;
  width: 150px;
  min-height: 150px;
  min-width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #61dafb;
}
