$cardWidth: 10px;

.card {
  cursor: pointer;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;

  @media (max-width: 500px) {
    $cardWidth: calc(50% - 25px);
    width: $cardWidth
  }
}

.cardContent {
  position: relative;
  z-index: 2;
}

.particle {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.cardTitle {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 40px;
}

.pluseBtn {
  font-size: 20px;
  padding: 5px;
  min-width: 37px;
}

.detailsBtn {
  width: 100%;
}

.footer {
  display: flex;
  gap: 5px;
}


@for $i from 1 through 50 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d(random(190) * 1px, random(130) * 1px, (random(100) * 1px));
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 30s infinite;
    top: 0;
    left: 0;
    $size: random(5) + 5 + px;
    height: $size;
    width: $size;
    opacity: random(100)/100;
    animation-delay: -$i * .4s;
    background-color: hsl(random(360), 70%, 50%);
    transform: translate3d(random(190) * 1px, random(130) * 1px, (random(100) * 1px));
  }
}

